<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Express Exam</title>
        <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    </head>

    <body>

        <nav>
            <a>Theater</a>
            <ul>
                <li><a href="/">Home </a></li>
                {{#if user}}
                    <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {{/if}}
            </ul>
        </nav>
        {{#if errors}}
            {{#each errors}} {{> error}} {{/each}}
        {{/if}}
        <main>

            {{{body}}}

        </main>
        <footer>
            <div>© 2020
                <a href="https://softuni.bg/courses/js-back-end">JS Back-End</a>
            </div>
        </footer>

    </body>

</html>